<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>ListServlet</servlet-name>
        <servlet-class>controller.ListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddServlet</servlet-name>
        <servlet-class>controller.AddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCartServlet</servlet-name>
        <servlet-class>controller.ViewCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderServlet</servlet-name>
        <servlet-class>controller.OrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveServlet</servlet-name>
        <servlet-class>controller.RemoveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchOrderServlet</servlet-name>
        <servlet-class>controller.SearchOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListServlet</servlet-name>
        <url-pattern>/ListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddServlet</servlet-name>
        <url-pattern>/AddServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCartServlet</servlet-name>
        <url-pattern>/ViewCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderServlet</servlet-name>
        <url-pattern>/OrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveServlet</servlet-name>
        <url-pattern>/RemoveServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchOrderServlet</servlet-name>
        <url-pattern>/SearchOrderServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>ListServlet</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/page404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/page404.jsp</location>
    </error-page>
</web-app>
